<div class="col-xs-8  col-xs-offset-2 form-color">
  <form  #form="ngForm">

     <div *ngIf="surveyData !== undefined">

      <div class="submit-div-parent header-div row">
        <div class="submit-div col-xs-12 ">
          <h2><u>{{surveyData.name}}</u></h2>

        </div>

      </div>


      <!-- Question List-->
      <div class="btn-header question-div row">


        <div class="submit-div col-xs-2">
          <button
                  class="btn btn-info submit-button "
                  [disabled]= "!((surveyData.status).trim() === 'Unpublished')"
                  routerLink="/survey/edit-survey/{{surveyData.id}}"
          >Edit</button>
        </div>

        <div class="submit-div col-xs-2 ">
          <button
            class="btn btn-default submit-button "
            (click)="publish()"
            [disabled]= "surveyData.status === 'Published' || surveyData.status === 'Closed'"
          >Publish</button>
        </div>

        <div class="submit-div col-xs-2 ">
          <button
            class="btn btn-primary submit-button "
            [disabled]= "!(surveyData.status === 'Published')"
            (click)="unpublish()"
          >UnPublish</button>
        </div>

        <div class="submit-div col-xs-2">
          <button
            class="btn btn-danger submit-button "
            [disabled]="surveyData.status === 'Closed'"
            (click)="closeSurvey()"
          >Close</button>
        </div>

        <div class="submit-div col-xs-2">

          <button
            class="btn btn-primary submit-button "
            [disabled]=" ( surveyData.status === 'Closed' || surveyData.status === 'Unpublished' )"
            routerLink="/survey/invite/{{id}}"
          >Invite</button>
        </div>

        <div class="submit-div col-xs-2">
          <button
            class="btn btn-primary submit-info "
            routerLink="/survey/stats/{{id}}"
          >Stats</button>
        </div>

        <div class="form-group ">
          <div class="col-xs-4 extend-date">
            <label>Extend End Date</label>
            <input type="datetime-local"
                   class="form-control "
                   id="endDate"
                   placeholder="End Date"
                   ngModel
                   name="endDate"
                   #endDate="ngModel">
          </div>

        </div>
        <div class="col-xs-12 extend">
          <button class="btn btn-info "
                  (click)="extend()"
                  [disabled]="surveyData.status === 'Closed' || surveyData.status === 'Unpublished'"
                  >
            Extend</button>
        </div>







      </div>
      <div class="error-section">
        <b><span>{{errorMessage}}</span></b>
      </div>

      <div *ngFor="let question of surveyData.questions; index as i" class="question-div row">
        <div>
          <div class="question-question col-xs-12 no-padding">
            <div class="index-question col-xs-1 no-padding">
              <b>{{i+1}}.</b>
            </div>
            <div class="question-data col-xs-11">
              <span>{{question.question}}</span>
            </div>
          </div>

          <div class="answer-choice">
            <div *ngFor="let choice of question.choice" class="question-choice col-xs-offset-1">
              <div>
                <div class="col-xs-3">

                  <div class="col-xs-11 no-padding"
                    *ngIf="question.questionType === 'Multiple Choice - Image' || question.questionType === 'Checkboxes - Image' || question.questionType === 'Dropdown - Image' ">
                    <img src="{{choice.answers}}">
                  </div>
                  <div class="col-xs-11 no-padding"
                    *ngIf="!(question.questionType === 'Multiple Choice - Image' || question.questionType === 'Checkboxes - Image' || question.questionType === 'Dropdown - Image' || question.questionType === 'Star Rating')">
                    <span>{{choice.answers}}</span>
                  </div>

                  <div class="col-xs-11 no-padding"
                       *ngIf="(question.questionType === 'Yes/No')">
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>


      <!-- Question List end-->
    </div>




  </form>
</div>
