<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel='stylesheet' href='../public/stylesheets/singin.component.css' />
</head>
<body>
	<div class="jumbotron container jumbo-props">
		  <h1 class="display-3">SurveyApe !</h1>
		  <p class="lead">A simple survey web app that provides survey composition, distribution, and reporting.</p>
		  
	</div>
	<div class="row">
		<div class="col-md-6">
			
			<form class="login-form">
				<h1 style="padding-bottom: 0.5rem;" align="center">Login</h1>
				  <div class="form-group">
				    <input type="email" class="form-control" name="username" id="username"  placeholder="Enter email">
				    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				  </div>
				  <div class="form-group">
				    <input type="password" class="form-control" name="password" id="password" placeholder=" Enter Password">
				  </div>
				  <button type="submit" class="btn btn-success">Submit</button>
				  <button type="submit" class="btn btn-danger">SignUp</button>
			</form>
		
		</div>
		<div class="col-md-6 login-image">
			<img src="../public/images/surveys.png">
		</div>
	</div>
	
</body>
</html>