.header {
	background-color: #3e6cb7;
	font-size: 100%;
    font-family:'Nunito Sans', sans-serif !important;
}

.navbar-brand {
	color: #fff;
	font-family: 'Helvetica';
}

.navbar-brand:hover {
	color: #fff;
}


.pull-right {
	color: #fff;
}



.left-padding-navbar {
  padding-left: 30px;
}

.right-padding-navbar {
  padding-right: 50px;
}

.right-margin-navbar {
  margin-right: 50px;
}

a{
  mousehover:
}
