<div *ngIf="response.question !== undefined" class="col-xs-8 col-xs-offset-2">
  <div class="my-survey ">
    <div style="margin-bottom: 20px" class="col-xs-12">
      <h3>Question Stats</h3>
      <h3>{{response.question}}</h3>
      <small class="pull-right" style="margin-bottom: 20px"> <b>Total Response - {{response.surveySubmitResponseAnswers.length}}</b></small>

    </div>


    <div  *ngFor="let res of response.surveySubmitResponseAnswers"  class="stats-component">
      <a style="margin-right: 20px"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
      <b>{{res.answer}}</b>
    </div>


  </div>
</div>
