<div class="main-component">
  <div class="question-area">
    <div class="col-xs-1">
      <b>{{id + 1}}.</b>
    </div>
    <div class="col-xs-11">
      {{question.question}}
    </div>
  </div>

  <div class="answer-area">
    <div class="choice-div col-xs-8 col-xs-offset-1">
      <div class="form-group">
        <select
          ngModel
          name="answerChoice"
          id="answerChoice"
          class="form-control col-xs-4"
          required
          [(ngModel)]="answer"
          (change)="selectAnswer()"
          #answerChoice="ngModel"
        >
          <option
            *ngFor="let choice of ratings"
            [value]="choice">
            <span class="rating-option">{{choice}}</span>
          </option>

        </select>

      </div>
    </div>

  </div>

</div>
