.my-survey{
  background-color: #F0F8FF;
  padding: 30px
}

b{
  font-size: 18px;
}

a{
  margin-right: 15px;
}

span{
  color: gray;
  font-size: 12px;
}


.single-survey{
  padding: 35px;
  background-color: white;

}


.single-survey:not(:last-child){
  margin-bottom: 20px;
}

h2, h4{
  text-align: center;
}

.btn-publish{
  margin-left: 20px;
}

.btn-edit{
  width:70px
}

.view-button{
  width: 70px;
}
