.my-survey{
  background-color: whitesmoke;
  padding: 30px;
  opacity: 0.95;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
}

b{
  font-size: 18px;
}

a{
  margin-right: 15px;
}

span{
  color: gray;
  font-size: 12px;
}


.single-survey{
  padding: 35px;
  background-color: white;

}


.single-survey:not(:last-child){
  margin-bottom: 20px;
}

h2, h4{
  text-align: center;
}

.btn-publish{
  margin-left: 20px;
}

.btn-edit{
  width:70px
}

.view-button{
  width: 70px;
}
