<div class="container-fluid">
  <div class="col-xs-12">
    <div class="design col-xs-offset-3 col-xs-6"></div>
    <div class="login-form col-xs-offset-3 col-xs-6">

      <div class="login-section">
        <div class="username col-xs-12">
          <input type="text" name="username" placeholder="Username">
        </div>
        <div class="password col-xs-12">
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>

      <div class="submit-section">
        <button class="submit-button">Login</button>
      </div>


      <div class="account-exist">
        <span>Don't have an account?  <a routerLink="/signup">Sign up</a>  </span>
      </div>

    </div>
  </div>
</div>
