
.options{
  padding: 20px;
  background-color: white;
  min-height: 20px;
  overflow: hidden;
}

span{
  font-size: 15px;
}

label{
  margin-right: 10px;
}

a{
  font-size: 20px;
  color: red;
}

.no-padding{
  padding: 0px;
}

