<div *ngIf="surveyList.length > 0" class="col-xs-8 col-xs-offset-2">
  <div class="my-survey">
    <h3>Survey Attempted</h3>
    <div *ngFor="let survey of surveyList" class="single-survey">
      <div class="row">

        <div class="col-xs-4">
          <a routerLink="/survey/attempted-survey/view/{{survey[1]}}/{{survey[2]}}"><b>{{survey[0]}}</b></a>
        </div>

        <div class="col-xs-5">
            <span class="pull-right">{{survey.category}}
              <span *ngIf="(survey[4]) !== null">| {{survey[4] | date : 'yyyy-MM-dd'}}
              </span>
            </span>
        </div>


        <div *ngIf=" !(survey[3] === 'General') &&  survey[5] === 'Saved' && survey[7] === 'Published' ">
            <a routerLink="/survey/take-survey/{{survey[1]}}/{{survey[6]}}"> <span style="color: red">Complete Survey </span> </a>
        </div>

        <div *ngIf=" (survey[3] === 'General') &&  survey[5] === 'Saved' && survey[7] === 'Published' ">
          <a routerLink="/survey/take-survey/{{survey[1]}}/{{survey[1]}}"><span style="color: red">Complete Survey </span></a>
        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="surveyList.length == 0">
  <h2>You haven't taken any survey yet</h2>
</div>
