<div class="col-xs-4 col-xs-offset-4 main-component">
  <h4>Enter Details to activate your account</h4>
  <div class="container-fluid">
    <div class="sharp-corner margin-bottom">
      <input
        type="email"
        class="form-control sharp-corner"
        ngModel
        name="email"
        #email="ngModel"
        email
      placeholder="Email">

    </div>
    <div class=" margin-bottom">
      <input
        type="text"
        class="form-control sharp-corner"
        ngModel
        name="code"
        #code="ngModel"
      placeholder="Code"
      required>

    </div>

    <div class="margin-bottom">
      <button class="btn btn-success sharp-corner" (click)="activateAccount()">Activate</button>
    </div>

    <div class="col-xs-8 col-xs-offset-2 error-section">
      <span>{{errorMessage}}</span>
    </div>

  </div>
</div>
