<div class="main-component">
  <div class="col-xs-12 options">
    <div class="col-xs-10" >
      <div class="col-xs-1 no-padding">
        <span>{{id+1}}.</span>
      </div>
      <div class="col-xs-9 no-padding">
        <span *ngIf="editQuestion === false">{{question}}</span>
        <span *ngIf="editQuestion === true">
          <textarea
            class="form-control"
            id="question"
            ngModel
            name="question"
            (change)="saveQuestion()"
            [(ngModel)]="editableQuestion"
            #question="ngModel"></textarea>
         </span>
      </div>
      <div class="col-xs-2"> <small>{{questionType}}</small></div>

    </div>


    <div class="col-xs-1 ">
     <!-- <a  *ngIf="editQuestion === false"  (click)="allowEditQuestion()" class="pull-right" style="color: #3e6cb7"><i class="fa fa-edit"></i></a>-->
      <a *ngIf="editQuestion === true" (click)="saveQuestion()" class="pull-right" style="color: #3e6cb7"><i class="fa fa-check-square-o"></i></a>
    </div>
    <div class="col-xs-1 ">
    <a (click)="deleteQuestion()" class="pull-right"><i class="fa fa-times"></i></a>
    </div>
  </div>

  <div class="col-xs-6 options">
    <div class="col-xs-11 no-padding">
      <input type="file" (change)="saveChoices($event.target.files , -2)" ngModel #text1="ngModel" class="form-control" id="dropdownText" >
    </div>
  </div>
  <div class="col-xs-6 options">
    <div class="col-xs-11 no-padding">
      <input type="file" (change)="saveChoices($event.target.files , -1)" ngModel #text2="ngModel"  class="form-control" id="dropdownText" >
    </div>
  </div>

  <div *ngFor="let option of moreOptions; index as i" class="col-xs-6 options">
    <div class="col-xs-11 no-padding">
      <input type="file" (change)="saveChoices($event.target.files , i)" ngModel #text="ngModel"  class="form-control" id="dropdownText">
    </div>

    <div class="col-xs-1 no-padding">
      <a (click)="deleteOptions(i)" class="pull-right"><i class="fa fa-times"></i></a>
    </div>
  </div>

  <div class="col-xs-6 options">
    <button class="btn btn-success" (click)="addOptions()">Add Options</button>
  </div>
</div>
