<div class="container-fluid sign-up">
  <div class="col-xs-12">
    <form>

    <div class="design col-xs-offset-3 col-xs-6"></div>
    <div class="login-form col-xs-offset-3 col-xs-6">

      <div class="additional-info-section ">
        <div class="email col-xs-12">
          <input type="email"
                 name="email"
                 placeholder="Email"
                  ngModel
                  #email="ngModel"
                required
                email>
        </div>

        <div class="password col-xs-12">
          <input type="password"
                 name="password"
                 placeholder="Password"
          ngModel
                 required
          #password="ngModel">
        </div>

        <div class="password col-xs-12">
          <input type="password"
                 name="confirmpassword"
                 placeholder="Confirm Password"
                 ngModel
                 #confirmpassword="ngModel"
                required
          >
        </div>

        <div class="category col-xs-12">
          <span class="Surveyor">
            <input type="radio"
                   name="radio"
                   value="Surveyor"
                   (click)="setCategory('Surveyor')"
                   required=""
            >
            <span class="label-text">Surveyor</span>
          </span>

          <span>
            <input type="radio"
                   name="radio"
                   required
                   value="Surveyee"
                   (click)="setCategory('Surveyee')">
            <span class="label-text">Surveyee</span>
          </span>
        </div>

      </div>

      <div class="submit-section">
        <button class="submit-button" (click)="register()">Submit</button>
      </div>

      <div class="error-section">
        {{errorMessage}}
      </div>
      <div class="account-exist">
        <span>Already have an account?  <a routerLink="/signin">Sign in</a>  </span>
      </div>

    </div>
    </form>
  </div>
</div>
