<form>
  <div class="invite-div col-xs-offset-4 col-xs-4">
    <div class="form-group email-div">
      <label for="email">Enter email to invite</label>
      <input
        type="email"
        class="form-control sharp-corner"
        email
        id="email"
        required
        ngModel
        name="email"
        #email="ngModel">
    </div>

    <div class="form-group email-div">
      <label for="email">Invitation type</label>
      <select
        type="type"
        class="form-control sharp-corner"
        id="type"
        required
        ngModel
        [(ngModel)]="invitationType"
        name="type"
        #type="ngModel">
        <option >QR code</option>
        <option>Link</option>
      </select>
    </div>

    <div class="form-group" style="padding-bottom: 0px">
      <button class="btn btn-success form-control sharp-corner"
      (click)="inviteToTakeSurvey()">Invite</button>
    </div>

    <div class="form-group ">
      <span class="message-section">{{message}}</span>
    </div>
  </div>
</form>
