<div class="main-component">
  <div class="options">
    <div class="col-xs-10">
      <label for="dropdownText" class="margin-top-10"><span>{{id+1}}.</span> {{question.question}}</label>
    </div>
    <div class="col-xs-2 ">
      <a (click)="deleteQuestion()" class="pull-right"><i class="fa fa-times"></i></a>
    </div>


  </div>

  <div class="col-xs-6 options">
    <div class="col-xs-11 no-padding">
      <input type="text"
             (change)="saveChoices(text1,  0)"
             ngModel
             #text1="ngModel"
             [(ngModel)]="optionArray[0][1]"
             class="form-control"
             placeholder="Option 1">
    </div>

  </div>
  <div class="col-xs-6 options">
    <div class="col-xs-11 no-padding">
      <input type="text"
             (change)="saveChoices(text2, 1)"
             ngModel
             [(ngModel)]="optionArray[1][1]"
             #text2 = "ngModel"
             class="form-control"
             placeholder="Option 2">
    </div>
  </div>

  <div *ngFor="let option of optionArray; index as i" >
    <div *ngIf="i > 1" class="col-xs-6 options">
      <div class="col-xs-11 no-padding">
        <input type="text"
               (change)="saveChoices(text , i)"
               ngModel
               [(ngModel)]="optionArray[i][1]"
               #text="ngModel"
               class="form-control">
      </div>
      <div class="col-xs-1 no-padding">
        <a (click)="deleteOptions(i)" class="pull-right"><i class="fa fa-times"></i></a>
      </div>
    </div>
  </div>



  <div class="col-xs-6 options">
    <button class="btn btn-success" (click)="addOptions()">Add Options</button>
  </div>
</div>

