<div class="col-xs-6  col-xs-offset-3 form-color">
  <form  #form="ngForm">


    <!-- Survey Name -->
    <div class="form-group border-bottom-div">
      <label for="formName">Enter Survey Name</label>
      <input type="text"
             class="form-control"
             id="formName"
             placeholder="Untitled Survey"
             ngModel
             name="name"
             required
             #name="ngModel">
      <small id="emailHelp" class="form-text text-muted">Enter survey name to be displayed.</small>
    </div>
    <hr/>
    <!-- Survey Name End-->

    <!-- Question List-->
    <div *ngFor="let question of questionList; index as i" class="question-div" >
      <div [ngSwitch]="question[0]"  >

        <div *ngSwitchCase="'Short Answer'">
          <app-que-short-answer
            [question]="question[1]"
            [id]="i"
            (deleteQuestion)="deleteQuestion($event)">
          </app-que-short-answer>
        </div>

        <div *ngSwitchCase="'Multiple Choice - Text'">
          <app-que-single-option-select-text
            [question]="question[1]"
            [id]="i"
            (saveChoice)="saveChoice($event)"
            (deleteQuestion)="deleteQuestion($event)">
          </app-que-single-option-select-text>
        </div>

        <div *ngSwitchCase="'Multiple Choice - Image'">
          <app-que-single-option-select-image>
          </app-que-single-option-select-image>
        </div>

        <div *ngSwitchCase="'Checkboxes - Text'" >
          <app-que-multiple-option-select-text
            [question]="question[1]"
            [id]="i"
            (saveChoice)="saveChoice($event)"
            (deleteQuestion)="deleteQuestion($event)">
          </app-que-multiple-option-select-text>
        </div>

        <div *ngSwitchCase="'Checkboxes - Image'">
          <app-que-multiple-option-select-image>
          </app-que-multiple-option-select-image>
        </div>

        <div *ngSwitchCase="'Dropdown - Text'">
          <app-que-dropdown-select-text
            [question]="question[1]"
            [id]="i"
            (saveChoice)="saveChoice($event)"
            (deleteQuestion)="deleteQuestion($event)">
          </app-que-dropdown-select-text>
        </div>

        <div *ngSwitchCase="'Dropdown - Image'">
          <app-que-dropdown-select-image>
          </app-que-dropdown-select-image>
        </div>

        <div *ngSwitchCase="'Yes/No'" >
          <app-que-yes-no
            [question]="question[1]"
            [id]="i"
            (deleteQuestion)="deleteQuestion($event)">
          </app-que-yes-no>
        </div>

        <div *ngSwitchCase="'Star Rating'">
          <app-que-star-rating-question
            [id]="i"
            [question]="question[1]"
            (deleteQuestion)="deleteQuestion($event)">
          </app-que-star-rating-question>
        </div>

        <div *ngSwitchCase="'Datetime'" class="datetime-div" >
          <app-que-datetime
            [question]="question[1]"
            [id]="i"
            (deleteQuestion)="deleteQuestion($event)">
          </app-que-datetime>
        </div>

      </div>

    </div>
    <!-- Question List end-->

    <!-- Question Selection -->


      <div class="add-section">
        <div class="col-xs-12 add-question-heading"><span><b>Add a survey question</b></span>
          <span class="pull-right"><b>Question Type</b></span></div>
        <div class="col-xs-8">
          <textarea
                 class="form-control col-xs-8"
                 id="question"
                 ngModel
                 name="question"
                 placeholder="Enter Question"
                 required
                 [(ngModel)]="defaultQuestionChoice"
                 #question="ngModel"></textarea>
        </div>
        <div class="col-xs-4" style="padding-left:15px;">
          <select
            ngModel
            name="questionType"
            id="questionType"
            class="form-control col-xs-4"
            required
            [(ngModel)]="defaultQuestionChoice"
            (change)="addQuestion()"
            #type="ngModel"
            [disabled]="!question.valid"
            >
            <option selected>Short Answer</option>
            <option>Multiple Choice - Text</option>
            <option>Multiple Choice - Image</option>
            <option>Checkboxes - Text</option>
            <option>Checkboxes - Image</option>
            <option>Dropdown - Text</option>
            <option>Dropdown - Image</option>
            <option>Yes/No</option>
            <option>Star Rating</option>
            <option>Datetime</option>
          </select>
        </div>
      </div>


    <!-- Question Selection End -->

    <div class="submit-div col-xs-offset-8 col-xs-4">
      <button type="submit"
              class="btn btn-primary submit-button" (click)="createSurvey(form)"
              [disabled]="!form.valid">Submit</button>
    </div>

  </form>
  <router-outlet></router-outlet>
</div>
