<div class="main-component">
  <div class="col-xs-12 options">
    <label for="dropdownText" class="margin-top-10"><span>{{id+1}}.</span> {{question}}</label> <a (click)="deleteQuestion()"><i class="fa fa-times"></i></a>
  </div>

  <div class="col-xs-6 options">
    <input type="file" (change)="saveChoices(text1 , -2)" ngModel #text1="ngModel" class="form-control" id="dropdownText" >
  </div>
  <div class="col-xs-6 options">
    <input type="file" (change)="saveChoices(text2 , -1)" ngModel #text2="ngModel"  class="form-control" id="dropdownText" >
  </div>

  <div *ngFor="let option of moreOptions; index as i" class="col-xs-6 options">
    <input type="file" (change)="saveChoices(text , i)" ngModel #text="ngModel"  class="form-control" id="dropdownText">
  </div>

  <div class="col-xs-6 options">
    <button class="btn btn-success" (click)="addOptions()">Add Options</button>
  </div>
</div>
