<!--
<angular-d3-donut [id]="donutChartId" [width]=800 [outerRadius]=90 [middleText]="'test'" [middleTextFontSize]="'2em'" [middleTextColor]="'red'" [innerRadius]=80 [spreadSlice]=false [data]="donutChartData"></angular-d3-donut>
-->

<!--<canvas id="canvas">{{ chart }}</canvas>-->
<angular-d3-bar [id]="test1" [alphaDistance]="0.3" [data]="barChartData" [dataColumns]="dataColumns1" [colors]="colors" [yAxisTicks]=10 [width]=400 [height]=200 [transitionDuration]=1000 [transitionDelay]=30
                [barWidth]="'16px'"></angular-d3-bar>
