.form-color {
  background-color: #F0F8FF;
  padding: 40px
}


.submit-button{
  width: 100%;
}

.submit-div{
  min-height: 20px;
  overflow: hidden;
}

.add-question-heading{
  margin-bottom: 10px;
  margin-top: 20px;
}

input.ng-invalid.ng-touched , select.ng-invalid.ng-touched  {
  border : 1px solid red
}


.question-div{
  min-height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.datetime-div{
  background-color: white;
}

.add-section{
  min-height: 20px;
  margin-bottom: 20px;
  overflow: hidden;

}

.submit-total-section{
  background-color: #eff0f1;
  min-height: 20px;
  overflow: hidden;
  padding: 20px;
}

.no-padding{
  padding:0px
}

.sharp-border{
  border-radius: 0px !important;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}

.submit-div-parent{
  padding: 30px;
  background-color: #eff0f1;
  min-height: 20px;
  overflow: hidden;
}

.error-section{
  margin-top: 20px;
  color : red;

}
