.my-survey{
  background-color: whitesmoke;
  padding: 30px
}

.stats-component{
  padding: 30px;
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
}

.stats-component-button{
  margin-bottom: 20px;
  overflow: hidden;
}

h3{
  text-align: center;
  margin-bottom: 20px;
}

.question-area{
  margin-bottom: 20px;
}

/*.chart{
  overflow:auto;
}*/


.no-padding{
  padding: 0px;
}

