<div *ngIf="stats.invited !== undefined" class="col-xs-8 col-xs-offset-2">
  <div class="my-survey">
    <h3>Survey Stats</h3>
      <div class="stats-component">
          <div class="col-xs-10">
              <b>Start Date</b>
          </div>
          <div class="col-xs-2">
            <b *ngIf="stats.startTime != null">{{stats.startTime  | date : 'yyyy-MM-dd'}}</b>
            <b *ngIf="stats.startTime == null">Not Specified</b>
          </div>
      </div>

    <div class="stats-component">
      <div class="col-xs-10">
        <b>End Time</b>
      </div>
      <div class="col-xs-2">
        <b *ngIf="stats.endTime !== null">{{stats.endTime  | date : 'yyyy-MM-dd'}}</b>
        <b *ngIf="stats.endTime === null">Not Specified</b>
      </div>
    </div>

    <div class="stats-component">
      <div class="col-xs-10">
        <b># of Participants</b>
      </div>
      <div class="col-xs-2">
        <b>{{stats.participants}}</b>
      </div>
    </div>

    <div class="stats-component">
      <div class="col-xs-10">
        <b>Total Submission</b>
      </div>
      <div class="col-xs-2">
        <b> {{stats.submissions}}</b>
      </div>
    </div>


    <div class="stats-component">
      <div class="col-xs-10">
        <b># of Registered Surveyees</b>
      </div>
      <div class="col-xs-2">
        <b> {{stats.registeredSurvyees}}</b>
      </div>
    </div>

    <div class="stats-component">
      <div class="col-xs-10">
        <b># of Guest Surveyees</b>
      </div>
      <div class="col-xs-2">
        <b>{{stats.guestSurveyees}}</b>
      </div>
    </div>

    <h3>Stats by Question</h3>
      <div *ngFor="let que of surveyStats; index as i">
        <div class="stats-component row">
          <div class="col-xs-1 question-area">
            <b>{{i+1}}</b>
          </div>
          <div class="col-xs-11 question-area">
            <b>{{que.question}}</b>
          </div>
          <div class="col-xs-3" style="display: block">
            <div  *ngFor="let ch of que.distribution">
              <b>{{ch.choice}} - {{ch.count}}</b>
            </div>
          </div>
          <!--<div class="col-xs-9 chart">
            <angular-d3-donut [id]=i
                              [width]=300
                              [outerRadius]=100
                              [innerRadius]=80
                              [spreadSlice]=false
                              [data]=que.distribution>
            </angular-d3-donut>
          </div>-->
        </div>
      </div>
  </div>
</div>
